*{ 
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box;
    Font-family: 'Gilroy';
}
*{
    background-color: antiquewhite;
}
html,body{
    Width: 100%;
    Height: 100%;
}
#main{
    width: 100%;
    height: 100%;
}
.heading{
    display: flex;
    justify-content: center;
}
.heading h1{
    margin: 40px;
}
.text-1{
    margin-left: 60px;
    margin-right: 60px;
    font-size: 20px;
}
.text-1 ul{
    margin: 30px;
    font-size: 25px;
}
.text-1 li{
    margin: 5px;
}
.text-1 h2{
    margin-left: 30px;
}
.text-2{
    margin-left: 60px;
    margin-right: 60px;
    font-size: 20px;
}
.text-2 ul{
    margin: 30px;
    font-size: 25px;
}
.text-2 li{
    margin: 5px;
}
.text-2 h2{
    margin-left: 30px;
}
.text-2-main{
    display: flex;
}
.image img{
    height: 300px;
    width: 480px;
    margin-right: 20px;
}